body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  scrollbar-color: rgb(193, 193, 193) rgb(54, 54, 54);
}

main {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #fbffb2;
  border-radius: 999em;
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffff27;
}

.ms {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: normal;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
