body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  scrollbar-color: rgb(193, 193, 193) rgb(54, 54, 54);
}

main {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

.ms {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: normal;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
