body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  scrollbar-color: rgb(193, 193, 193) rgb(54, 54, 54);
}

main {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}
