#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: fixed;
  padding-top: 5px;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(100px) saturate(150%);
  -webkit-backdrop-filter: blur(100px) saturate(150%);
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}

#header .icon {
  width: 7rem;
  filter: invert(1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

#header .icon:hover {
  transform: scale(1.1);
}
